# Mac Files
*.DS_Store

# Target Files
*.tar
*.tar.gz

# data folders
data_science_proxy/jupyter/data/       
data_science_proxy/rstudio/data/  
data_science_proxy/mlflow/data/ 

jupyter/data/       
rstudio/data/  
mlflow/data/  
artifacts/
